<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" con§tent="width=device-width, initial-scale=1.0">
    <title>ALT-tag configurator</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="../static/serialscan.js"></script>

    <!-- <script>
require('./render.js');
</script> -->
</head>

<body>

    <div class="footer">
        <p>Вам доступны следующие COM порты:</p>
    </div>
    <!-- 
<div class="titleAlttag">
<h1>ALTtag</h1>
<p>Все по-серьезному</p>
</div> -->

    <div class="mainCavanas">
        <div class="title"><h1>ALT-tag</h1></div>

        <div class="button">

            <a href="character_selection.html">Сконфигурировать игрока<span class="shift">›</span></a>
            <div class="mask"></div>
        </div>

        <div class="button">

            <a href="#">Сконфигурировать инструмент<span class="shift">›</span></a>
            <div class="mask"></div>
        </div></div>
    </div>

</body>

</html>