<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" con§tent="width=device-width, initial-scale=1.0">
    <title>ALT-tag configurator</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="../static/scripts/buttons.js"></script>

    <!-- <script>
require('./render.js');
</script> -->
</head>

<body>
    <!-- 
        <div class="titleAlttag">
            <h1>ALTtag</h1>
            <p>Все по-серьезному</p>
        </div> -->

    <div class="mainCavanas">
        <div class="title">
            <h1>ALTtag</h1>
            <p></p>
        </div>
        <div class="button">
            <a href="character_selection.html">Сконфигурировать игрока<span class="shift">›</span></a>
            <div class="mask"></div>
        </div>
        <div class="button">

            <a href="instrument_selection.html">Сконфигурировать инструмент<span class="shift">›</span></a>
            <div class="mask"></div>
        </div>
    </div>

    <div class="footer">
        <p>Вам доступны следующие COM порты:</p>
        <img class="settings" title="Настройки приложения" src="../static/img/settings.png">
    </div>

</body>

</html>