<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALT-tag configurator</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="calc.js"></script>
    <!-- <script>
require('./render.js');
</script> -->
</head>

<body>

    <div class="backButton">
        <div class="button">
            <a href="index.html">Назад<span class="shift">›</span></a>
            <div class="mask"></div>
        </div>
    </div>
    <div class="pageTitle">
        <h1>Выбор персонажа</h1>
    </div>
    <div class="characterCatalog">
        <ol class="catalog">
            <li><a href="instrument_config.html">АК-47</a></li>
            <li><a href="instrument_config.html">АКМ</a></li>
            <li><a href="instrument_config.html">М4А1</a></li>
        </ol>
    </div>
      <div class="footerUploader">
        <a href="#" class="createBtn">Создать нового персонажа</a>
        <a href="#" class="uploadBtn">Загрузить на устройство</a>
      </div>
    <!-- 
<div class="titleAlttag">
<h1>ALTtag</h1>
<p>Все по-серьезному</p>
</div> -->
</body>

</html>