<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALT-tag configurator</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="calc.js"></script>
    <!-- <script>
        require('./render.js');
    </script> -->
</head>

<body>

    <div class="backButton">
        <div class="button">
            <a href="character_selection.html">Назад<span class="shift">›</span></a>
            <div class="mask"></div>
        </div>
    </div>
    <div class="pageTitle">
        <h1>Конфигуратор персонажа</h1>
        <p>Штурмовик</p>
    </div>

    <div class="TablePlayerCheckBoxes">
        <table>
            <tr>
                <td>ID <br>
                    <input type="text" placeholder="Уникальный id" size="13">
                </td>
                <td>Цвет команды<br><br>
                    <div class="form_radio_group">
                        <div class="form_radio_group-item color1">
                            <input id="radio-1" type="radio" name="color" value="1" checked>
                            <label for="radio-1">Желтый</label>
                        </div>
                        <div class="form_radio_group-item color2">
                            <input id="radio-2" type="radio" name="color" value="2">
                            <label for="radio-2">Зеленый</label>
                        </div>
                        <div class="form_radio_group-item color3">
                            <input id="radio-3" type="radio" name="color" value="3">
                            <label for="radio-3">Синий</label>
                        </div>
                        <div class="form_radio_group-item color4">
                            <input id="radio-4" type="radio" name="color" value="4">
                            <label for="radio-4">Красный</label>
                        </div>
                    </div>
                </td>
                <td>Дружественный огонь <br><br>
                    <div class="form_toggle">
                        <div class="form_toggle-item item-1">
                            <input id="fid-1" type="radio" name="radio" value="off" checked>
                            <label for="fid-1">OFF</label>
                        </div>
                        <div class="form_toggle-item item-2">
                            <input id="fid-2" type="radio" name="radio" value="on">
                            <label for="fid-2">ON</label>
                        </div>
                    </div>
                </td>
                <td>Кол-во жизни (HP) (ед) <br>
                    <input type="text" placeholder="от 0 до 1024" size="10">
                </td>
            </tr>
            <td>Кол-во брони (ед) <br>
                <input type="text" size="10">
            </td>
            <td>Время шока (сек) <br>
                <input type="text" size="10">
            </td>
            <td>Неуязвимость (сек) <br>
                <input type="text" placeholder="от 0 до 1024" size="10">
            </td>
            <td> Время оживления (сек) <br>
                <input type="text" size="10">
            </td>
            <tr>

            </tr>
        </table>
    </div>

    <div class="footer">
        <p>Вам доступны следующие COM порты:</p>
    </div>
    <div class="footerUploader">
        <a href="#" class="createBtn" onclick="alert("Не доступно!")">Создать нового персонажа</a>
        <a href="#" class="uploadBtn">Загрузить на устройство</a>
      </div>
</body>

</html>